
@font-face {
    font-family: Karla;
    src: url("image/karla.ttf");
  }
  
  @font-face {
    font-family: Karla-normal;
    src: url("image/Karla-normal.ttf");
  }
  
  
  body {
    background-color: black;
    height: 100vh;
    margin: 0;
    text-align: center;
    transition: opacity 1s ease;
    opacity: 1;
  }
  
  .fade-out {
      opacity: 0; 
  }
  
  .startbtn {
    font-family: Karla-normal;
    font-size: 20px;
    padding: 10px;
    width: 50px;
    height: 30px;
    align-items: center;
    color: #F0FFFF;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
  }
  img {
    z-index: -1;
    position: absolute;
    top: 15vh;
    left: 5vh;
    width: 1300px;
    
  }
  
  .startbtn:hover {
    background-color: white;
    color: black;
  }
  
  p {
    font-family: Karla;
    color: white;
    font-size: 15px;
    margin-bottom: 40vh;
  }
  
  
  
  