@font-face {
    font-family: Karla;
    src: url("https://cdn.glitch.global/c7175132-3ac6-4f57-8f5e-fb0a2d6e4a40/Karla-VariableFont_wght.ttf?v=1728512933673");
}
  
body {
    background-color: black;
    transition: opacity 1s ease;
    opacity: 1;
    margin: 0;
    padding: 0;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fade-out {
    opacity: 0;
}

#aSide {
    padding: 0 0;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aSide model-viewer {
    height: 600px;
    width: 600px;
    border: none;
}
h3 {
    color: white;
    font-family: Karla; 
    font-weight:100;
}
p {
    font-weight:100;
    padding-top: 0;
    color: lightgrey;
    font-family: Karla;
    width: 30vw;
    text-align: center;
}
  
/* --------------------------------*/
footer {
display: flex;               
justify-content: space-between; 
margin-top: 50px;            
padding: 20px;              
background-color: black;  
}

.backbtn, .nextbtn {
font-family: Karla;
padding: 10px 20px;          
text-decoration: none;   
color: white;
border-radius: 4px;          
font-size: 20px;
cursor: pointer;
text-align: center;
}

.backbtn:hover, .nextbtn:hover {
background-color: white;
color: black;
}

/* --------------------------------*/

  