@font-face {
    font-family: Karla;
    src: url("image/karla.ttf");
}

  
body {
    background-color: black;
    transition: opacity 1s ease;
    opacity: 1;
    margin: 0;
    padding: 0;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    
}
.dot {
    width: 500px;
    height: 500px;
    background-image: url("image/cat.png");
    background-size: 195px 50px;
    background-position-x: center;
    
}

p {
    font-family: Karla;
    color: white;
    text-align: center;
}

.in {
    width: 10.5vw;
    background-color: black;
    border-color: aliceblue;
    border-radius: 8px;
    max-width: 20vw;
    font-size: 19px;
    color: white;
}
.submit {
    margin-top: 2vh;
    font-size: 19px;
    color: white;
    width: 6vw;
    border-radius: 10px;
    background-color: rgb(111, 114, 132);
    border: none;
    padding: 0.5vw 0vw;
}


.fade-out {
    opacity: 0;
}
  
/* --------------------------------*/
footer {
display: flex;               
justify-content: space-between; 
margin-top: 50px;            
padding: 20px;              
background-color: black;  
}

.backbtn, .nextbtn {
font-family: Karla;
padding: 10px 20px;          
text-decoration: none;   
color: white;
border-radius: 4px;          
font-size: 20px;
cursor: pointer;
text-align: center;
}

.backbtn:hover, .nextbtn:hover {
background-color: white;
color: black;
}

/* --------------------------------*/

  