@font-face {
    font-family: Karla;
    src: url("https://cdn.glitch.global/c7175132-3ac6-4f57-8f5e-fb0a2d6e4a40/Karla-VariableFont_wght.ttf?v=1728512933673");
  }
  
  body {
    background-image: url('https://cdn.glitch.global/c7175132-3ac6-4f57-8f5e-fb0a2d6e4a40/poison.gif?v=1728535431564');
    display: grid;
    justify-content: center;
    align-items: center;
    background-size: 50 140vh; /* Auto width, but cover full height */
    background-position: center; /* Center the image horizontally */
    background-repeat: no-repeat;
    background-color: black;
    padding-top: 20vh;
    margin: 0;
    transition: opacity 1s ease;
    opacity: 1;
  }
  
  .fade-out {
      opacity: 0; 
  }
  
  
  .back {
    padding-top: 20vh;
  }
  .backbtn {
    font-family: Karla;
    font-size: 20px;
    padding: 10px;
    width: 50px;
    height: 30px;
    align-items: center;
    color: #F0FFFF;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
  }
  
  .backbtn:hover {
    background-color: white;
    color: black;
    
  }
  
  .mountain {
    color: lightgrey;
    font-family: Karla;
    margin-top: 30vh;
    font-size: 60px;
    text-decoration: none;
    width: 1000px;
    font-weight: bold;
    border-radius: 4px;
  }
  .mountain:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  
  .img-poison {
    display: grid;
    justify-content: center;
    width: 400px;
    align-items: center;
  }
  pre {
    position: absolute;
    color: white;
    font-family: monospace;
    top: 630px;
    left: 510px;
    font-size: 15px;
    
  }
  