@font-face {
    font-family: Karla;
    src: url("https://cdn.glitch.global/c7175132-3ac6-4f57-8f5e-fb0a2d6e4a40/Karla-VariableFont_wght.ttf?v=1728512933673");
  }
  
  body {
    background-color: black;
    padding-top: 20vh;
    margin: 0;
    transition: opacity 1s ease;
    opacity: 1;
  }
  
  .fade-out {
      opacity: 0; 
  }
  

  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    margin: 0;
  }
  
  p, h1, a{
    color: white;
    font-family: Karla;
  }
  
  .arctic {
    width: 700px;
    
  }
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    padding: 10px 0px;
    border-radius: 4px;
    width: 110px;
    margin-left: 85vh;
    text-decoration: none;
  }
  
  .intro:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    
  }
  
   /* --------------------------------*/
   footer {
    display: flex;               
    justify-content: space-between; 
    margin-top: 50px;            
    padding: 20px;              
    background-color: black;  
  }
  
  .backbtn, .nextbtn {
    font-family: Karla;
    padding: 10px 20px;          
    text-decoration: none;   
    color: white;
    border-radius: 4px;          
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }

  .backbtn:hover, .nextbtn:hover {
    background-color: white;
    color: black;
  }
  
  /* --------------------------------*/
  
  