@font-face {
    font-family: Karla;
    src: url("image/karla.ttf");
  }
  
  body {
    background-color: black;
    transition: opacity 1s ease;
    opacity: 1;
  }
  
  .fade-out {
      opacity: 0; 
  }
  .intro {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .series {
    width: 20;
  }
  

  p {
    color: lightgrey;
    font-family: Karla;
    font-size: 15px;
    display: flex;
    justify-content: center;
    
  }
  
  .choice {
    display: grid;
    max-width: 400px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: center;
  }
  .choice a {
    color: lightgrey;
    font-family: Karla;
    font-size: 15px;
    text-decoration: none;
  }
  .choice a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  /* --------------------------------*/
  footer {
    display: flex;               
    justify-content: space-between; 
    margin-top: 50px;            
    padding: 20px;              
    background-color: black;  
  }
  
  .backbtn {  
    font-family: Karla;
    padding: 10px 20px;          
    text-decoration: none;   
    color: white;
    border-radius: 4px;          
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
  
  .backbtn:hover {
    background-color: white;
    color: black;
  }
  
  /* --------------------------------*/
  
  
  
  
  