@font-face {
    font-family: Karla;
    src: url("image/karla.ttf");
  }
  
  body {
    background-color: black;
    transition: opacity 1s ease;
    opacity: 1;
  }
  
  .fade-out {
      opacity: 0; 
  }
  
  .mountain {
    display: inline-block; 
    transition: transform 0.3s ease;
    color: grey;
    text-decoration: none;
    position: absolute;
    top: -5vh;
    padding-left: 57vh;
    font-size: 8px;
  }
  .mountain:hover {
    transform: scale(1.1);
    color: white;
  }
  
  img {
    padding: auto;
    padding-top: 10vh;
    z-index: -1;
    display: block; 
    width: 100%;
    z-index: -1;
  }
  
  p, pre {
    color: lightgrey;
    font-family: Karla;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-top: 480px;
  }
      /* --------------------------------*/
      footer {
        display: flex;               
        justify-content: space-between; 
        margin-top: 50px;            
        padding: 20px;              
        background-color: black;  
      }
      
      .backbtn {  
        font-family: Karla;
        padding: 10px 20px;          
        text-decoration: none;   
        color: white;
        border-radius: 4px;          
        font-size: 20px;
        cursor: pointer;
        text-align: center;
      }
      
      .backbtn:hover {
        background-color: white;
        color: black;
      }
      
      /* --------------------------------*/